<ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        Status da Rede
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of networkStatus">
            {{ item.name }}: {{ item.value }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  